@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Regular.otf") format("opentype");
	font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Bold.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-ExtraBold.otf") format("opentype");
	font-weight: bolder;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-ExtraBoldItalic.otf") format("opentype");
	font-weight: bolder;
	font-weight: italic;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Light.otf") format("opentype");
	font-weight: lighter;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-LightItalic.otf") format("opentype");
	font-weight: lighter;
	font-weight: italic;
}

*{
	font-family: 'Monsterrat';
	margin: 0;
	padding: 0;
}

html{
	background-color: #121214;
}

#root{
	height:100vh !important;
	width: 100%;
	margin:0 !important;
	display:flex !important;
  flex-direction: column !important;
	box-sizing: border-box !important;
}
@media screen and (max-width: 600px) {
	#root{
		min-height: fit-content !important;
	}
}

.Toastify__toast{
	background-color: transparent;
	color: white !important;
	background-image: linear-gradient(to right,#FED503, #E44F26, #FF6584);
}
