@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Regular.otf") format("opentype");
	font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Bold.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-ExtraBold.otf") format("opentype");
	font-weight: bolder;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-ExtraBoldItalic.otf") format("opentype");
	font-weight: bolder;
	font-weight: italic;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Light.otf") format("opentype");
	font-weight: lighter;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-LightItalic.otf") format("opentype");
	font-weight: lighter;
	font-weight: italic;
}

*{
	font-family: 'Monsterrat';
	margin: 0;
	padding: 0;
}

html{
	background-color: #121214;
}

#root{
	height:100vh !important;
	width: 100%;
	margin:0 !important;
	display:flex !important;
  flex-direction: column !important;
	box-sizing: border-box !important;
}
@media screen and (max-width: 600px) {
	#root{
		min-height: fit-content !important;
	}
}

.Toastify__toast{
	/* background-color: rgba(54, 54, 54, 0.822); */
	/* color: white !important; */
	font-size: .8em;
	/* background-image: linear-gradient(to right,#ffffff,  #00000010); */
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}


::-webkit-scrollbar {
  width: 5px;
	border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #c5c5c5;
}

::-webkit-scrollbar-thumb {
  background: rgb(31, 29, 29);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 51, 51);
}
