@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Regular.otf") format("opentype");
	font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Bold.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-ExtraBold.otf") format("opentype");
	font-weight: bolder;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-ExtraBoldItalic.otf") format("opentype");
	font-weight: bolder;
	font-weight: italic;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-Light.otf") format("opentype");
	font-weight: lighter;
}
@font-face {
	font-family: "Monsterrat";
	src: url("./fonts/Monsterrat/Montserrat-LightItalic.otf") format("opentype");
	font-weight: lighter;
	font-weight: italic;
}

*{
	font-family: 'Monsterrat';
}
